ul{
  list-style-type: none;
}

ul li {
  margin: 20px;
  border-bottom: 1px dashed #424242;
}

ul li img{
  margin-bottom: 20px;
}

h2{
  margin-bottom: 80px;
}

.song-name {
  font-size: 20px;
  color: #fff;
}

i.title{
  margin-right: 15px;
}
