<div id="likes-page">
  <h2 class="text-center"><i class="fa fa-music title" aria-hidden="true"></i> My favourite songs <i class="fa fa-music" aria-hidden="true"></i>
  </h2>
  <ul>
    <li *ngFor="let like of likes">
      <div class="row">

        <div class="col-md-3">
          <img src="{{like?.spotify_info?.album.images[0].url}}" style="width: 150px"/>
        </div>

        <div class="col-md-9">
          <p class="song-name">{{like.artist}} - {{like.name}}<p>
          <p><strong>Album: </strong> {{like?.spotify_info?.album.name}}<p>
          <a (click)="selectTrack(like.id)" class="btn btn-default preview">Preview Track <i class="fa fa-play" aria-hidden="true"></i></a>
          <a (click)="downloadSong(like.spotify_info.preview_url, like.name)" class="btn btn-default">Get Song <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
          <a class="btn btn-default" (click)="deleteFromFavourites(like)">Delete Song <i class="fa fa-trash-o" aria-hidden="true"></i></a>


          <div class="row" style="margin-top: 10px; margin-left: 0" *ngIf="isSelected(like.id)">
            <audio controls >
              <source src="{{like.spotify_info.preview_url}}" type="audio/mp3">
            </audio>
          </div>

        </div>

      </div>
    </li>
  </ul>
</div>
