<div class="album" *ngIf="album">
  <header class="album-header">
    <div class="row">
      <div class="col-md-4">
          <div *ngIf="album.images.length > 0">
            <img class="album-thumb" src="{{album.images[0].url}}">
          </div>
      </div>
      <div class="col-md-8">
          <h4 *ngIf="album.artists.length > 0">
            <span *ngFor="let artist of album.artists">{{artist.name }}</span>
          </h4>
          <h2>{{album.name}}</h2>
          <h5>Release date: {{album.release_date}}</h5>
          <!--<a class="btn btn-primary" target="_blank" href="{{album.external_urls.spotify}}">View In Spotify</a>-->
      </div>
    </div>
  </header>
  <div class="album-tracks">
    <h2>Album Tracks</h2>
    <div *ngFor="let track of album.tracks.items">
      <div class="well">
        <h5>{{track.track_numer}} {{track.name}}</h5>
        <a (click)="selectTrack(track.id)" class="btn btn-default preview">Preview Track <i class="fa fa-play" aria-hidden="true"></i></a>
        <a (click)="downloadSong(track.preview_url, track.name)" class="btn btn-default">Get Song <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        <a (click)="addToFavourites(track)" class="btn btn-default">Like <i class="fa fa-heart" aria-hidden="true"></i></a>

        <div class="row" style="margin-top: 10px; margin-left: 0" *ngIf="isSelected(track.id)">
          <audio controls >
            <source src="{{track.preview_url}}" type="audio/mp3">
          </audio>
        </div>

      </div>
    </div>
  </div>
</div>
