<div class="login-page">
  <div class="form">

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
      <h2 style="color: black">Sign Up</h2>
      <input type="text" placeholder="login" formControlName="login"/>
      <input type="password" placeholder="password" formControlName="password" />
      <input type="text" placeholder="name" formControlName="name"/>
      <input type="text" placeholder="surname" formControlName="surname"/>

      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
      <h2 style="color: #000;">Sign in</h2>
      <input type="text" placeholder="login" formControlName="login" />
      <input type="password" placeholder="password" formControlName="password" />
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>


<p class="edek"></p>
