
<div class="background">
  <h1>Looking for music?</h1>
  <p>Use this app to search, browse and listen to music from Spotify</p>

  <form>
    <div class="form-group">
      <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control animated swing" >
    </div>
  </form>

  <div *ngIf="searchRes">
    <div *ngFor="let artist of searchRes">
      <div class="row">
        <div class="col-md-12">
          <div class="search-res well">
            <h4 > <a [routerLink]="['/artist',artist.id]">{{artist.name}}</a></h4>
            <div>
              <strong>Generes: </strong>
              <span *ngFor="let genre of artist.genres">{{genre}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
