.main {
  border-bottom: #333 1px solid;
  padding: 30px 0;
}

.artist-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.artist-thumb {
  width: 80px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.artist-albums .well{
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.albums {
  text-align: center;
  background: #333;
  padding: 10px 20px;
  border: #666 1px solid;
}

.album-thumb {
  width: 100%;
}

i {
  margin-left: 5px;
}

.btn{
  margin-right: 5px;
}
